<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contas</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="createAccount($event)">
        <ion-icon name="ios-add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list>
    <button ion-item *ngFor="let item of accountsList" (click)="itemTapped($event, item)">
      {{item.Name}} 
      <div class="item-note" item-right>
        {{item.Rating}}
      </div>
    </button>
  </ion-list>
</ion-content>
