<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Início</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
 <ion-card>
  <img src="assets/img/IonicSF.png"/>
  <ion-card-content>
    <ion-card-title>
      Ionic V3 e Salesforce
      </ion-card-title>
    <p>
      Este demo utiliza as tecnologias Ionic V3 + Salesforce SDK.
    </p>
  
  </ion-card-content>
</ion-card>
</ion-content>
